# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
*.iml
/out
*.gitignore
/src/main/java/io/prozorowicz/CBlock.java
/src/main/java/io/prozorowicz/CCompositeBlock.java
/src/main/java/io/prozorowicz/main.java
